# **Task 1:**
**Create a list named "fruits" containing three different fruits and display its items using for loop.**

In [ ]:
fruits = ['apple','banana','orange']
for fruit in fruits:
  print(fruit)

apple
banana
orange

# **Task 2:**
**Create a tuple named "numbers" with five random numbers and display its item
using for loop.**

In [ ]:
numbers = (10, 35, 50, 75, 100)
for number in numbers:
  print(number)

10
35
50
75
100

# **Task 3:**
**Create a set named "colors" with three different colors and display its items using for loop.**

In [ ]:
colors = {"red","green","blue"}
for color in colors:
  print(color)

green
red
blue

# **Task 4:**
**Create a dictionary named "student" with the following key-value pairs:**
*   "name" as the key and the student's name as the value.
*   "age" as the key and the student's age as the value.
*   "grade" as the key and the student's grade as the value.
*   Iterate over the dictionary using the for loop and display its keys
*   Iterate over the dictionary using the for loop and display its values

In [ ]:
student = {"name":"Eman","age":"14", "grade":"A"}
for student_info in student.keys():
  print(student_info)

name
age
grade

In [ ]:
student = {"name":"Eman","age":"14", "grade":"A"}
for student_info in student.values():
  print(student_info)

Eman
14
A

# **Task 5:**
**Create a multi-line string named "poem" with a short poem of your choice.**

In [ ]:
poem = """Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky."""

print(poem)

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

# **Task 6:**
**Write an if statement to check if the length of the "fruits" list is greater than 3. If it is, print "You have many fruits!".**

In [ ]:
#the fruit list used here is from task 1
if len(fruits) > 3:
  print("You have many fruits!")

# **Task :7**
**Create a program that takes a student's numerical grade as input and prints a corresponding letter grade. Use if-else statements to classify the grade into
categories such as "A," "B," "C," "D," or "F."**

*   If the numerical grade is 90 or higher, the corresponding letter grade is "A."
*   If the numerical grade is between 80 and 89 (inclusive), the corresponding letter grade is "B."
*   If the numerical grade is between 70 and 79 (inclusive), the corresponding letter grade is "C."
*   If the numerical grade is between 60 and 69 (inclusive), the corresponding letter grade is "D."
*  If the numerical grade is below 60, the corresponding letter grade is "F."

In [ ]:
marks = int(input("Enter your marks: "))

if marks >= 90:
    grade = "A"
elif marks >= 80:
    grade = "B"
elif marks >= 70:
    grade = "C"
elif marks >= 60:
    grade = "D"
else:
    grade = "F"

print(f"According to your marks your grade is {grade}.")

Enter your marks: 100
According to your marks your grade is A.

# **Task 8:**
**Create a program that takes a temperature in Celsius as input from user and classifies it into categories like "Freezing," "Cold," "Moderate," "Warm," or "Hot."
Use if-else statements to define the temperature ranges for each category.**
*   If the temperature is below -10 degrees Celsius, it's classified as "Freezing."
*   If the temperature is between -10 and 0 degrees Celsius (exclusive), it's classified as "Cold."
*   If the temperature is between 0 and 20 degrees Celsius (exclusive), it's classified as "Moderate."
*   If the temperature is between 20 and 30 degrees Celsius (exclusive), it's classified as "Warm."
*  If the temperature is 30 degrees Celsius or above, it's classified as "Hot."

In [ ]:
temperature = int(input("Enter the temperature in Celsius: "))

if temperature < -10:
  category = "Freezing"

elif -10 <= temperature < 0:
  category = "Cold"

elif 0 <= temperature < 20:
  category = "Moderate"

elif 20 <= temperature < 30:
  category = "Warm"

else:
  category = "Hot"

print(f"According to the temperature given, which is {temperature}. The weather today is {category}.")

Enter the temperature in Celsius: 4
According to the temperature given, which is 4. The weather today is Moderate.